<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">

  <title>Book API App - David Lynch - Web Developer</title>
</head>

<body>
  <main>
    <div class="header">  

        <div class="headerLeft">
        
            <div tabindex="0" class="menu">
              <div class="menu-dropdown">
                <a href="/">All Crime Writers</a>
                <a href="/showreadwish/read">Books I have Read</a>
                <a href="/showreadwish/wish">Books I Wish to Read</a>
                <a href="/updatecountrylist">Show Country List</a>
                <a href="/deadoralive">Show Dead and Alive</a>
              </div>
            </div>

        </div> 

        <div class="headerRight">
          
          <div class="headingtext">
            <h1>Crime Fiction API App</h1>
            <h2>David Lynch -Web Developer</h2>
          </div>

        </div>

        <div class="headerEnd"></div>
      
    </div>